<div class="main">
  <h2>PROFILE</h2>
  <div class="card">
    <div class="card-body">
      <i class="fa fa-pen fa-xs edit"></i>
      <table>
        <tbody>
        <tr>
          <td>Name:</td>
          <td>{{currentUser.name}}</td>
        </tr>
        <tr>
          <td>Surname:</td>
          <td>{{currentUser.surname}}</td>
        </tr>
        <tr *ngIf="currentUser.patronimyc">
          <td>Patronimyc:</td>
          <td>{{currentUser.patronimyc}}</td>
        </tr>
        <tr>
          <td>Birthday:</td>
          <td>{{currentUser.birthday}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{currentUser.email}}</td>
        </tr>
        <tr>
          <td>Status:</td>
          <td>{{currentUser.status}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  </div>
